{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
        <h3>Nos clients aiment</h3>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    {% include 'product/single_product.html.twig' %} 
                </div>
            {% endfor %}
        </div>

        <p class="text-center mt-5"><a class="btn btn-lg btn-info" href="{{ path('app_products') }}" role="button">Tous nous produits</a></p>

        {% for marketing in marketings %}
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 {% if marketing.imageSide == 'left' %}order-md-2{% endif %}">
                    <h2 class="featurette-heading">{{ marketing.title }} <span class="text-muted">{{ marketing.subtitle }}</span></h2>
                    <p class="lead">{{ marketing.content }}</p>
                </div>
                <div class="col-md-5" style="overflow:hidden;max-height:500px;">
                    <img src="/uploads/{{ marketing.illustration }}" class="img-fluid"></img>
                </div>
            </div>
        {% endfor %}
        <hr class="featurette-divider">

{% endblock %}