{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}
    {# {{dump(product)}} #}
    <div class="row product_container">
        <div class="col-md-5">
            <img src="/uploads/{{product.illustration}}" alt="{{product.subtitle}}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{product.name}}</h3>
            {% if stars > 0 %}
                {% for i in range(1, stars) %}
                    <i class="fa-solid fa-star text-warning"></i>
                {% endfor %}
            {% endif %}
            {% if halfStar > 0 %}
                {% for i in range(1, halfStar) %}
                    <i class="fa-solid fa-star-half text-warning"></i>
                {% endfor %}
            {% endif %}

            <p class="product_subtitle">{{product.subtitle}}</p>
            <p class="product_price">{{ (product.price / 100)|number_format(2, ',', '.')}} €</p>
            <hr>
            <p>{{ product.description }}</p>
            <a href="{{ path('app_add_to_cart', { 'id' : product.id})}}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>

    <div class="container mt-5">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
            <div class="row  d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h5>Avis des acheteurs({{ comments|length }})</h5>
                    </div>
                    {% for comment in comments %}
                        <div class="card p-3 mt-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center">
                                    {% if comment.user.avatar %}
                                        <img src="/uploads/{{comment.user.avatar}}" width="30" class="user-img rounded-circle mr-2">
                                    {% else %}
                                        <i class="fa-solid fa-user fa-2x  mr-2"></i>
                                    {% endif %}
                                    <span>
                                        <small class="font-weight-bold text-primary">{{ comment.user.firstname }} {{ comment.user.lastname }}</small>
                                        </br>
                                        <small class="font-weight-bold">{{ comment.text }}</small>
                                    </span>  
                                </div>
                                <small class="ml-3 days">{{ comment.days }}</small>
                            </div>
                            <div class="action d-flex justify-content-end mt-2 align-items-center">
                                <div class="icons align-items-center">
                                    <a href=" {{ path('app_opinion',{commentId : comment.id, productSlug : product.slug, choice : 'false'}) }}">
                                        <i class="fa-regular fa-thumbs-down text-danger"> : {{ comment.lastOpinion.negative }}</i>
                                    </a>
                                    <a href=" {{ path('app_opinion',{commentId : comment.id, productSlug : product.slug, choice : 'true'}) }}">
                                        <i class="fa-regular fa-thumbs-up text-success"> : {{ comment.lastOpinion.positive }}</i> 
                                    </a>
                                </div>
                            </div> 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
