{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block content %}
    <h2>Confirmation de votre commande</h2>
    <p>
        Bonjour <b>{{ order.user.firstname }} {{ order.user.lastname}}</b>, <br><br>
        Nous vous remercions pour votre commande n° <b>{{ order.reference }}</b><br>
        Une confirmation vient de vous être envoyée par email à l'adresse <b>{{ order.user.email }}</b>
        <hr>
        Votre commande sera livrée par <b>{{ order.carrierName }}</b> à l'adresse suivante : <br>
        {{ order.delivery|raw }}
        <hr>
        Pour suivre votre commande, rendez-vous dans votre <a href="{{ path('app_account_order')}}">compte</a>
    </p>

{% endblock %}
